# === Python / Django ===
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3

# === Virtualenv ===
.venv/
env/
venv/

# === Django migrations cache ===
*/migrations/__pycache__/
*/migrations/*.pyc

# === Logs ===
*.log

# === Static / Media ===
staticfiles/
media/
static/

# === Node / React frontend ===
frontend/node_modules/
frontend/build/
frontend/.env

# === Docker ===


# === IDE / Editors ===
.vscode/
.idea/
*.swp


# Django settings cache
config/settings/__pycache__/

.env

