version: "3.9"

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: djangodb
      POSTGRES_USER: mechanic
      POSTGRES_PASSWORD: Tango52Echo23@tires&
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: